@charset "utf-8";

.wrap {
  position: relative;
  padding-top: 70px;
}

.inner {
  width: calc(100% - 30px);
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
