@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  margin: 0px;
  padding: 0px;
  /* 옵션 */
  outline-style: none;
  box-sizing: border-box;
}
a {
  color: #000000;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}
body {
  font-family: "Inter", "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}

.br-20 {
  border-radius: 20px;
}

.bt-wrap {
  width: 100%;
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}
.bt-more {
  display: block;
  padding: 11px 20px;
  border: 1px solid #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  transition: all 0.1s;
  border-radius: 20px;
}
.bt-more:hover {
  background: #000000;
  color: #ffffff;
}

.wrap {
  position: relative;
  padding-top: 70px;
}

.inner {
  width: calc(100% - 30px);
  max-width: 1170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
