@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+KR:wght@100..900&display=swap");
/* 새로운 폰트 2개를 추가하였습니다 */
/* 혹시 자세히보면 둥글둥글한 그맀들 font-family: "M PLUS Rounded 1c", sans-serif; 이거 쓰는 건 어떠세요? */
/* 총 기부금 숫자에 이 폰트 썼어요 */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  color: #000000;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}
body {
  /* font-family: "Kakao"; */
  /* 밑에 처럼 font-family주는건 어떨까요? */
  /* 백그라운드 컬러는 body에 들어가야한다고 생각됩니다 */

  background-color: rgb(247, 247, 247);
  font-family: "Noto Sans KR", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-optical-sizing: auto;
}

.wrap {
  position: relative;
  /* font-family: "Kakao";
  font-style: normal;
  font-weight: 700; */
}
/* 중복되는 것과 굵기가 전체적으로 다 적용돼어서 주석처리하였습니다 */

.inner {
  width: calc(100% - 30px);
  /* 반응형을 위해서 width값 임시로 주었습니다 같이 수정해봐요 */
  max-width: 1120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px auto;
  /* height: 100%; */
  /* 하이트는 100퍼 안줘도 자동으로 된다고 생각됩니다 */
}

/* 커먼 코드 박민경 */
.basic-border {
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
}

.main-cm-title {
  line-height: 1.61;
  color: rgb(32, 32, 32);
  font-size: 20px;
  font-style: normal;
  font-family: "Noto Sans KR", sans-serif;
  overflow-wrap: break-word;

  margin-bottom: 19px;
  cursor: pointer;
}
