.header {
  position: fixed;
  left: 0;
  top: 0;

  z-index: 999999;
  display: block;
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
.inner {
  justify-content: center;
}
.line-active {
  border-bottom: 1px solid #e6e5e6 !important;
}
.header .inner {
  height: 70px;
  justify-content: space-between;
}

.header-logo {
}
.header-logo a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 700;
}

.header-logo-link {
  align-items: center;
}
.header-logo-img {
  width: 88px;
  height: 22px;
  margin-right: 5px;
}
.header-logo-slide {
  width: 68px;
  height: 31px;
}
.swlogo {
  width: 100%;
  height: 100%;
}
.swlogo .swiper-slide {
  background: #ffffff;
}

.header-logo-slide img {
  width: 100%;
}
.header-navi {
}
.navi-list {
  display: flex;
  align-items: center;
  gap: 30px;
}
.navi-list li {
}
.navi-list li a {
  text-decoration: none;
  color: #1e1e1e;
  font-weight: 700;
}

.navi-list li a:hover {
  color: #1f24ff;
}

.navi-search a {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/icon/icon-search.png") no-repeat center;
  background-size: contain;
}

.navi-search a:hover {
  background: url("../images/icon/icon-search-hover.png") no-repeat center;
  background-size: contain;
}

.mobile-menu {
  display: none;
}
.mobile-menu a {
  display: block;
  width: 24px;
  height: 24px;
  background: url("../images/icon/icon-hbr.png") no-repeat center;
  background-size: contain;
}
.mobile-menu-open {
  background: url("../images/icon/icon-close.png") no-repeat center !important;
  background-size: contain !important;
}

/* 반응형 */
@media all and (max-width: 1024px) {
  .navi-list {
    gap: 15px;
  }
  .navi-list li {
    display: none;
  }
  .mobile-menu,
  .navi-search {
    display: block !important;
  }
}

/* 모바일 메뉴 관련 */
/* 모바일 메뉴 : 배경 */
.mb-header-bg {
  display: none;
  position: fixed;
  left: 0;
  top: 70px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}
.mb-header-bg-show {
  display: block !important;
}

@media screen and (max-width: 1024px) {
}

/* 모바일 메뉴 : 내용 */
.mb-header-menu {
  position: fixed;
  left: 0;
  top: calc(70px - 1px);

  width: 100%;
  height: 0;
  transition: height 0.3s ease-in;
  overflow: hidden;

  background: rgba(255, 255, 255, 1);
  z-index: 9999999;
}
.mb-header-menu-show {
  height: 160px !important;
}

.mb-header-menu .inner {
  display: block;
  height: auto !important;
}

.mb-nav {
  padding-bottom: 40px;
  padding-left: 20px;
}
.mb-nav li {
  line-height: 40px;
}
.mb-nav li a {
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #1e1e1e;
}
.mb-nav li a:hover {
  color: #1f24ff;
}
