.header {
  width: 100%;
  height: 70px;
  background: #fff;
  border-bottom: 1px solid rgb(238, 238, 238);
}

.header-logo {
}

.header-logo a {
  width: 115px;
  height: 70px;
  display: block;
  background: url("../images/logo_pc.svg") center / contain no-repeat;
}

.header-navi {
  height: 100%;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}
.header-menu-img {
  width: 24px;
  height: 24px;
  display: flex;
}

.navi-list {
  height: 100%;
  display: flex;
}

.navi-list li {
  position: relative;
  height: 100%;
  display: list-item;
  margin: 0px 11px;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: -0.1px;
  box-sizing: border-box;
}

.navi-list li a {
  
  padding: 0px 14px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(68, 68, 68);
}
.red-dot {
  top: 2px;
  right: 6px;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(255, 90, 114);
}

.navi-right {
  display: flex;
}
.navi-profile {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
  font: inherit;
}
.avatar-box {
  position: relative;
  display: flex;
}
.avatar-a {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
}
.avatar-div {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.avatar-div img {
  position: relative;
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
  overflow: hidden;
  mask-image: url("//t1.kakaocdn.net/together_image/svg/squircle.svg");
  mask-size: 100% 100%;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navi-search {
  height: auto;
  margin: 0px 11px 0px 19px;
  padding: 8px;
}
.sc-62ee9b1b-0 {
  width: 22px;
  height: 22px;
}

.navi-menu {
  width: 36px;
  height: 36px;
  padding: 8px;
}

.navi-menu-img {
  width: 18px;
  height: 18px;
  vertical-align: top;
}

.mb-header-bg {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
}
.mb-header-bg-show {
  display: block !important;
}
.mb-header-menu {
  position: fixed;
  top: calc(70px - 1px);
  left: 0;

  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 9999999;

  background: rgba(255, 255, 255, 1);
  transition: height 0.3s ease-in;
}
.mb-header-menu-show {
  height: 160px !important;
}

.mb-header-menu .inner {
  height: auto !important;
  display: block;
}


@media all and (max-width: 880px) {
 
  .navi-list{
width: 100%;
justify-content: space-between;
padding:0 20px;
  }
  .navi-list li {
    
   
    margin: 0 0;
  }
  .navi-list li a {
    padding: 0px 0px;
  }
}


@media all and (max-width: 768px) {
  .header {
    min-height: 92px;
  }
  .mbheader {
    width: 100%;
    min-width: 280px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header-navi {
    width: 100%;
    height: 37px;
    display: flex;
    justify-content: center;
    order: 2;
    box-sizing: border-box;
  }
  .navi-list {
    
    overflow-x: auto;
        justify-content: space-between;
        flex-wrap: nowrap;
        gap: 10px;
        width: 100%;
        padding: 0px 20px;
        white-space: nowrap;
        scrollbar-width: none;
  }
  .navi-list li{
    
  }
  .navi-list li a{
    color: rgb(32, 32, 32);
    font-size: 14px !important;
    font-style: normal;
    font: inherit; ;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    padding: 5px 4px 9px;
    letter-spacing: normal;
    line-height: 1.5;
    text-decoration: none;
  }
  
 

  .header-logo a {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 103px;
    height: 55px;
    height: 55px;
    display: block;
    background: url("../images/logo_pc.svg") center / contain no-repeat;
    transform: translateX(-50%);
  }
  .red-dot {
    position: absolute;
    right: 0;
    top: 6px;
  }
  .navi-menu {
    height: 55px;
    padding-top: 21px;
    padding-right: 10px;
    padding-left: 20px;
    order: -1;
  }
  .navi-search {
    height: 55px;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    padding: 0 0;
    padding-top: 19px;
    padding-right: 21px;
    box-sizing: border-box;
  }
  .sc-62ee9b1b-0 {
    width: 20px;
    height: 20px;
  }
  .navi-profile {
    display: none;
  }
}

@media all and (max-width: 578px){
  .navi-list li a {
    white-space: nowrap
  }

}