@import url("./Kakaofont.css");

.header {
  height: 70px;
}

.header-logo {
}

.header-logo a {
  display: block;
  width: 115px;
  height: 70px;
  background: url("../images/logo_pc.svg") center center / contain no-repeat;
}

.header-navi {
  height: 100%;
  justify-content: center;
}
.header-menu-img {
  display: flex;
  width: 24px;
  height: 24px;
}

.navi-list {
  height: 70px;
  display: flex;
  align-items: center;
}

.navi-list li a {
  padding: 0px 14px;
  font-family: "KakaoBig Bold";
  font-size: 16px;
  color: rgb(68, 68, 68);
}
.navi-right {
  display: flex;
}

.navi-profile a {
  display: flex;
  position: relative;
  width: 24px;
  height: 24px;
  background: url("../images/avatar.png") no-repeat center;
  background-size: contain;
}

.navi-search a {
  margin-left: 19px;
  margin-right: 11px;
  padding: 8px;
  display: flex;
  position: relative;
  width: 22px;
  height: 22px;
  background: url("../images/icon-search.png") no-repeat center;
  background-size: contain;
}

.navi-menu a {
  background: url("../images/icon-hbr.png") no-repeat center;

  width: 18px;
  height: 18px;
  background-size: contain;
  padding: 8px;
}
