.header {
  width: 100%;
  height: 70px;
  border-bottom: 1px solid rgb(238, 238, 238);
  background: #fff;
}

.header-logo {
}

.header-logo a {
  width: 115px;
  height: 70px;
  display: block;
  background: url("../images/logo_pc.svg") center / contain no-repeat;
}

.header-navi {
  height: 100%;
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}
.header-menu-img {
  width: 24px;
  height: 24px;
  display: flex;
}

.navi-list {
  height: 100%;
  display: flex;
}

.navi-list li {
  position: relative;
  height: 100%;
  display: list-item;
  margin: 0px 11px;
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: -0.1px;
  box-sizing: border-box;
}

.navi-list li a {
  padding: 0px 14px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(68, 68, 68);
}
.red-dot {
  position: absolute;
  top: 2px;
  right: 6px;
  width: 4px;
  height: 4px;
  background-color: rgb(255, 90, 114);
  border-radius: 50%;
}

.navi-right {
  display: flex;
}
.navi-profile {
  margin: 0px;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
  font: inherit;
}
.avatar-box {
  position: relative;
  display: flex;
}
.avatar-a {
  position: relative;
  width: 24px;
  height: 24px;
  display: flex;
}
.avatar-div {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}
.avatar-div img {
  position: relative;
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
  overflow: hidden;
  mask-image: url("//t1.kakaocdn.net/together_image/svg/squircle.svg");
  mask-size: 100% 100%;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navi-search {
  height: auto;
  margin: 0px 11px 0px 19px;
  padding: 8px;
}
.sc-62ee9b1b-0 {
  width: 22px;
  height: 22px;
}

.navi-menu {
  width: 36px;
  height: 36px;
  padding: 8px;
}

.navi-menu-img {
  width: 18px;
  height: 18px;
  vertical-align: top;
}

.mb-header-bg {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.7);
}
.mb-header-bg-show {
  display: block !important;
}
.mb-header-menu {
  display: none;
  position: fixed;
  top: calc(70px - 1px);
  right: 0;
  width: 0; /* 초기 상태에서 너비 0으로 설정 */
  min-width: 280px;
  max-width: 300px;
  height: 100%; /* height를 100%로 변경하여 전체 높이로 설정 */
  padding: 30px;
  overflow: hidden;
  z-index: 9999999;
  background: rgba(255, 255, 255, 100%);
  /* 화면 오른쪽 밖으로 이동 */
}

.mb-header-menu-show {
  width: 300px; /* 나타날 때 너비 설정 */
  display: flex;
  padding: 30px;
}

.mb-header-menu .inner {
  height: auto !important;
  display: block;
}

@media all and (max-width: 880px) {
  .navi-list {
    width: 100%;
    justify-content: space-between;
    padding: 0 20px;
  }
  .navi-list li {
    margin: 0 0;
  }
  .navi-list li a {
    padding: 0px 0px;
  }
}

@media all and (max-width: 768px) {
  .header {
    min-height: 92px;
  }
  .mbheader {
    width: 100%;
    min-width: 280px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header-navi {
    width: 100%;
    height: 37px;
    display: flex;
    justify-content: center;
    order: 2;
    box-sizing: border-box;
  }
  .navi-list {
    width: 100%;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0px 20px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
  }
  .navi-list li {
  }
  .navi-list li a {
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 5px 4px 9px;
    font-size: 14px !important;
    font-style: normal;
    line-height: 1.5;
    color: rgb(32, 32, 32);
    text-decoration: none;
    letter-spacing: normal;
    font: inherit;
    box-sizing: border-box;
  }

  .header-logo a {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 103px;
    height: 55px;
    height: 55px;
    display: block;
    background: url("../images/logo_pc.svg") center / contain no-repeat;
    transform: translateX(-50%);
  }
  .red-dot {
    position: absolute;
    top: 6px;
    right: 0;
  }
  .navi-menu {
    height: 55px;
    padding-top: 21px;
    padding-right: 10px;
    padding-left: 20px;
    order: -1;
  }
  .navi-search {
    height: 55px;
    align-items: center;
    justify-content: center;
    margin: 0 0;
    padding: 0 0;
    padding-top: 19px;
    padding-right: 21px;
    box-sizing: border-box;
  }
  .sc-62ee9b1b-0 {
    width: 20px;
    height: 20px;
  }
  .navi-profile {
    display: none;
  }

  .mb-header-menu {
    right: 0;
    left: 0;
    transition: transform 0.3s ease-in-out; /* 애니메이션 설정 */
    transform: translateX(100%);
  }

  .mb-header-menu-show {
    transform: translateX(0);
  }
}

@media all and (max-width: 578px) {
  .navi-list li a {
    white-space: nowrap;
  }
}
