.main-left {
  width: 700px;
  display: block;
}

.mlt {
  width: 700px;
  height: 250px;
  display: flex;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  background: url("../../images/357e7b871874435682618b08e64a94e5.jpg") center /
    contain no-repeat;
  border-radius: 12px;
}
.main-card {
  width: 700px;
  height: 300px;
  margin-bottom: 30px;
  padding: 24px 30px 32px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  background: #fff;
  border-radius: 12px;
}
.mc-title {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
  color: rgb(32, 32, 32);
  letter-spacing: -0.3px;
}
.mc-detail {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 15px;
  font-style: normal;
  line-height: 23px;
  color: rgb(102, 102, 102);
}

.mc-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.last-pay {
  position: absolute;
}
.mc-img {
  width: 280px;
  min-width: 280px;
  height: 168px;
  background-image: url("../../images/c1400x788.jpg");
  background-size: cover;
  border-radius: 8px;
}
.mc-right {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.mc-right-title {
  font-family: "KakaoBig Bold";
  font-size: 18px;
  line-height: 1.33;
}
.mc-paybox {
  padding-top: 12px;
}
.mc-hp {
  width: 100%;
  height: 4px;
  background-color: red;
  border-radius: 100px;
}
.mc-right-detail {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  color: rgb(32, 32, 32);
  font: inherit;
}
.mc-right-detail span {
  margin-bottom: 8px;
  font-family: "KakaoBig Bold";
  font-size: 14px;
  color: rgb(32, 32, 32);
}

.mc-right-date {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.mc-right-date p {
  font-family: "KakaoBig Regular";
  font-size: 12px;
  color: rgb(255, 64, 80);
}
.mc-right-date span {
  font-size: 12px;
  color: rgb(68, 68, 68);
}
.mc-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 9px;
  justify-content: space-between;
  padding-right: 24px;
  box-shadow: none;
  z-index: 1;
  font-family: "KakaoBig Regular";
}
.mc-button button {
  width: 100%;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px 18px;
  border: 1px solid rgb(201, 201, 201);
  background-color: rgb(255, 255, 255);
  font-family: "KakaoBig Bold";
  font-size: 14px;
  line-height: 1.5;
  color: rgb(68, 68, 68);
  text-decoration: none;
  letter-spacing: -0.1px;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 6px;
}
.second {
  height: 100%;
}
.ml-list {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}
.ml-item {
  width: calc(33.33% - 20px);
  width: 200px;
  height: 100%;
  display: block;
}
.ml-item-img {
  width: 200px;
  height: 137px;
  background-image: url("../../images/c1400x788.jpg");
  background-size: cover;
  cursor: pointer;
  border-radius: 8px;
}
.next {
  display: block;
  font-size: 14px;
  line-height: 1.5;
}
.little {
  margin-top: 8px;
}
.mc-tags {
  display: flex;
  gap: 6px;
  margin: 15px -18px 5px;
  padding: 0px 20px;
  overflow: hidden;
  white-space: nowrap;
}

.mc-tags button {
  height: 37px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 7px 14px;
  border: 1px solid rgb(238, 238, 238);
  box-shadow: none;
  background-color: rgb(255, 255, 255);
  font-family: "KakaoBig Regular", "Inter", "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 1.54;
  color: rgb(32, 32, 32);
  text-decoration: none;
  letter-spacing: -0.1px;
  cursor: pointer;
  overflow-wrap: break-word;
  border-radius: 999px;
}
.slide {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 0;
  text-decoration: none;
  cursor: pointer;
}
.smc-img {
  min-width: 250px;
  height: 250px;
  display: flex;
  background-image: url("../../images/c1400x788.jpg");
  background-size: cover;
  border-radius: 12px 0 0 12px;
}
.smc-textbox {
  width: 100%;
  height: 100%;
  margin-top: -8px;
  padding: 0 30px;
}
